html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

////////

*{
    box-sizing: border-box;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #292927;
    transition: all 0.5s ease;
}

h1:hover{
    font-size: 40px;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #292927;
    transition: all 0.3s ease;
    line-height : 25px; 
    text-align: left;
}

h2:hover{
    font-weight: 900;
    line-height : 30px; 
    font-size: 30px;
}




header{
    background-color: #201f1e;
    height: 7%;
    padding-left: 1em;
    padding-top: 10px;
}

.columns{
    height: 93%;
    display: flex;
}
.column1{
    height: 100vh; ;
    background-color: #ec7d69;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

.column1:hover{
    width: 40%;
}
.column2{
    height: 100vh; 
    background-color: #e1ac9d;
    width: 33.3%;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    


}

.column2:hover{
    width: 40%;
    h1{
        font-size: 40px;
    }
}

.column3{
    box-sizing: border-box; 
    width: 33.3%;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;

}

.column3:hover{
    width: 40%;
}

.block1{
    box-sizing: border-box;
    display: flex;
    height: 50%;
    width: 100%;
    background-color: #5d989a;
    transition: all 0.5s ease;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-repeat: no-repeat;
    background-image: url('../../FORTY_LOGOV2_COLOR5.png');
    background-position: center;
    background-size:70%;

    .block1:hover{
        background-size:90%;
    }
}

.block3{
    box-sizing: border-box;
    height: 70%;
    min-height: fit-content;
    width: 100%;
    background-color: #b3d0bf;
    transition: all 0.5s ease;
    justify-content: center;
    align-items: center;
    padding: 1em;
    padding-right: 12%;

    

    
}

.block3:hover{
    height: 80%;

    p{
        font-size: 17pt;
    }
}

.block4{
    padding: 1em;
    box-sizing: border-box;
    height: 30%;
    width: 100%;
    background-color: #ec7d69;
    transition: all 0.5s ease;
    justify-content: center;
    align-items: center;
    padding: 1em;

    .svg-container{
        display: flex;
        justify-content: flex-start;

        .logo-moose{
            background-image: url('../../logo_moose.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 50px ;
            width:90px;
            transition: all 0.5s ease;
        }

        svg{
            fill: #201f1e;
            height: 20px ;
            transition: all 0.5s ease;

        }

    }
}

.block4:hover{
    height: 40%;
    width: 100%;
    p{
        font-size: 16pt;
    }

    svg{
        height: 25px ;
    }
    .logo-moose{
        background-image: url('../../logo_moose.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 70px ;
        width:110px;
    }
}

.block1:hover{
    height: 60%;
}





.block2{
    height: 50%;
    width: 100%;
    background-size: auto 100%;
    object-fit: cover;
    object-position: center center;
    background-repeat: no-repeat;
    background-image: url('../../krampack.jpg');
    background-position: center;
    background-size:cover;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px;;
    object-fit: cover;

    .teatre{
        visibility: hidden;
        transition: all 0.5s ease;
    }

}

.block2:hover{
    height: 60%;
    opacity: 0.9;
    background-size:cover;

    .teatre{
        visibility: visible;
        color: #e8d2ad;
    }

}

.isotipo{
    height: 80%;
    width: auto;
}

.logo2{
    height: 80%;
    width: auto;
}  

p{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #292927;
    transition: all 0.3s ease;
    line-height : 25px; 
    text-align: left;

}


span{
    padding: 1em;
}



@media (max-width: 900px){

    .columns{
        flex-direction: column;
    }

    .column1{
        width: 100%;
        height: 60vh;
       
        
    }

    .column1:hover{
        height: 70vh;
        width: 100%;
    }

    .column2{
        width: 100%;
        height: 20vh;
        flex-direction: column;
       
        
    }

    .column2:hover{
        height: 30vh;
        width: 100%;
    }

    .column3{
        width: 100%;
        height: fit-content;
       
        
    }

    .column3:hover{
        height: fit-content;
        width: 100%;

       
    }

    .block1{
        box-sizing: border-box;
        display: flex;
        height: 50%;
        width: 100%;
        background-color: #5d989a;
        transition: all 0.5s ease;
        justify-content: center;
        align-items: center;
        padding: 1em;
        background-repeat: no-repeat;
        background-image: url('../../FORTY_LOGOV2_COLOR5.png');
        background-position: center;
        background-size:60%;
    
        .block1:hover{
            background-size:90%;
        }
    }

    .block2{
        padding-top: 30px;
    }
}
