@import '../../styles.scss';

.nav-bar{
    z-index: 1;
    min-height: 100%;
    min-width: 14%; 
    transition: $transition1;
    position: relative;

   .test{
        position: fixed;
        width: 14%;
        top: 0;
    }


    .logo-menu{
     display: flex;
     justify-content: center;
     align-items: center;
     width: auto;
     height: 20vh;
     background-color: $primary1;
     color: $secondary1;
     transition: $transition1;
 
     &:hover{
         height: 22vh;
 
     }
   
 
     .logo{
         width: 100%;
         height: 100%;
         background-repeat: no-repeat;
         background-image: url('../../images/FORTY_LOGOV2_COLOR5.png');
         background-position: center;
         background-size:70%;
 
     }}
 
     .manifest-menu{
         display: flex;
         justify-content: center;
         align-items: center;
         width: auto;
         height: 25vh;
         background-color: $primary3;
         color: $secondary3;
         transition: $transition1;         
 
         &:hover{
             height: 30vh;
         }
         
     }
 
     .projects-menu{
         display: flex;
         justify-content: center;
         align-items: center;
         width: auto;
         height: 35vh;
         background-color: $primary2;
         color: $secondary2;
         transition: $transition1;
 
         &:hover{
             height: 40vh;
         }
     }
 
     .contact-menu{
         display: flex;
         justify-content: center;
         align-items: center;
         width: auto;
         height: 20vh;
         background-color: $primary4;
         color: $secondary4;
         transition: $transition1;
 
         &:hover{
             height: 25vh;
         }
     }
 }


 @media (max-width: 900px){

    .nav-bar{
        display: flex;
        min-height: 14%;
        min-width: auto;

        .test{
            display: flex;
            max-height: 14%;
            min-width: 100%;
        

        .logo-menu{
            width: 25vw;
            height: 14vh;
            font-size: small;
            &:hover{
                height: 14vh;
            }
        }

        .manifest-menu{
            width: 25vw;
            height: 14vh;
            font-size: small;

            &:hover{
                height: 14vh;
            }

        }

        .projects-menu{
            width: 25vw;
            height: 14vh;
            font-size: small;

            &:hover{
                height: 14vh;
            }

        }

        .contact-menu{
            width: 25vw;
            height: 14vh;
            font-size: small;

            &:hover{
                height: 14vh;
            }

        }

    }
}
 }

