@import '../../styles.scss';


.project-row{
    height: 33vh;
    display: flex;

    .project-img{
        height: 100%;
        background-color: $primary2;
        opacity: 0.7;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondary2;
        flex-direction: column;

        &:hover{
            opacity: 1;

            .bold-img{
                font-size: 36pt;	

            }

            .regular-img{
                font-size: 18pt;
            }
        }

        .bold-img{
            font-family: 'Poppins', sans-serif;
            font-weight: bolder;
            font-size: 32pt;
            transition: $transition1;
            text-align: left;
        }

        .regular-img{
            font-family: 'Poppins', sans-serif;
            font-weight: normal;
            font-size: 14pt;
            transition: $transition1;
            text-align: left;
            margin-top: 5px;
        }
    }

}


@media (max-width: 900px){
  
    .project-img{
        width: 100%;
        background-repeat: no-repeat;
    }
}

