@import '../../styles.scss';


.project-row{
    height: 33vh;
    display: flex;

    .project-img{
        height: 100%;
        background-color: $primary2;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondary2;
    }

}


@media (max-width: 900px){
  
    .project-img{
        width: 100%;
        background-repeat: no-repeat;
    }
}

