@import '../styles.scss';

.legal{
    text-decoration: none;
    color: $secondary3;
}

.privacy-container{

    display: flex;

   

    .privacy-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 86%;
        height: auto;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        padding-bottom: 5%;;
    }


}





