@import '../../styles.scss';


.title-detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 86%;
    margin-left: auto;
    
    .title-project-container{
        width: 30%;
        height: 20vh;
        background-color: $primary4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .photo-project-container{
        width: 70%;
        max-width: 70%;
        height: 20vh;
        background-color: $primary3;
        background-position: center;
    }

}

.description-detail-container{
    width: 86%;
    height: fit-content;
    margin-left: auto;
    padding: 49% 0 0 0 ;
    position: relative;

    iframe{
        object-fit: fill;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-item{
        background-color: $primary3;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .video-frame{
            height: 100%;
            width: 100%;
        }

    }
}



.sinopsi-detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 420px;
    width: 86%;
    margin-left: auto;
    overflow: hidden;
    
    .sinopsi-project-container{
        width: 100%;
        height: 100%;
        background-color: $primary2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $secondary2;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        font-size: 14pt;
        transition: $transition1;
        text-align: left;
        padding: 10%;

        .date{

            margin-right: auto;
            margin-bottom: 1.5rem;

            strong{
                font-weight: bolder;
            }

        }

       
    }

    .poster-project-container{
        width: 400px;
        max-width: 30%;
        height: 100%;
        background-color: $primary3;
        margin-right: auto;

    }

    .poster-container-2{
        width: auto;
        max-width: 30%;
        height: 100%;
        background-color: $primary3;
        margin-right: auto;

        img{
            height: 100%;
            width: auto;
        }
    }

}


.credits-container{
    width: 87%;
    margin-left: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: $primary1;
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    transition: $transition1;
    text-align: left;
    color: $secondary1;
    line-height: 2rem;

    strong{
        font-weight: bolder;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
          ". ."; 
        justify-items: start;
        justify-content: space-around; 
        grid-column-gap: 5rem;   


    }
}

.palms-wraper{
    height: auto;
    width: 87%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    background-color: $primary3;
    padding-top: 2rem;

    .palm-container{
        height: 8rem;
        width: 8rem;
        margin-right: 2rem;
        
    }
}


@media (max-width: 900px){
  
    .title-detail-container{
        width: 100vw;
        height: fit-content;
        margin-top: 14vh;
        justify-content: flex-start;
        align-items: flex-start;

        
        .title-project-container{
            width: 100%;
            height: 10vh;
        }
    
        .photo-project-container{
            visibility: hidden;
            position: absolute;
    
        }
    
    }


    .sinopsi-detail-container{
        flex-direction: column;
        height: auto;
        width: 100%;
        overflow: hidden;
        
        .sinopsi-project-container{
            font-size: 10pt;
            transition: $transition1;
            padding: 8%;
        }
    
        .poster-container-2{
            height: auto;
            max-width: 100%;
            height: 100%;    
            img{
                height: 100%;
                width: 100%;
            }
        }
    
    }

    .description-detail-container{
        width: 100%;
        margin-left: 0;
        padding: 56% 0 0 0 ;

    }

    .credits-container{
        width: 100%;
        height: auto;
        font-size: 10pt;
        line-height: 1rem;
        margin-left: 0;
        padding: 4%;

        .grid-container{
            grid-column-gap: 3rem;   
            grid-row-gap:1rem;
        }
    }

    .palms-wraper{
        height: auto;
        width: 100%;
        padding: 0 5%;
        padding-top: 2rem;
    
        .palm-container{
            height: 6rem;
            width: 6rem;
            margin-right: 2rem;
            
        }
    }
}





