@import '../../styles.scss';


.detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 86%;
    margin-left: auto;
    
    .title-project-container{
        width: 100%;
        margin-left: auto;
        height: 300px;
        background-color: $primary4;


    }

}