@import '../../styles.scss';


.title-detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 86%;
    margin-left: auto;
    
    .title-project-container{
        width: 30%;
        height: 20vh;
        background-color: $primary4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .photo-project-container{
        width: 70%;
        max-width: 70%;
        height: 20vh;
        background-color: $primary3;

    }

}

.description-detail-container{
    width: 86%;
    height: fit-content;
    margin-left: auto;
    padding: 49% 0 0 0 ;
    position: relative;

    iframe{
        object-fit: fill;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .description-item{
        margin-bottom: 5%;

        h1{
            font-weight: bolder;
            font-size: 16pt;
            margin-bottom: 20px;
            
        }

        h2{
            font-weight: bold;
            font-size: 12pt;
            margin-bottom: 10px;
        }

        p{
            margin-bottom: 20px;
        }
    }
    .video-item{
        background-color: $primary3;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .video-frame{
            height: 100%;
            width: 100%;
        }

    }
}



.sinopsi-detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 420px;
    width: 86%;
    margin-left: auto;
    overflow: hidden;
    
    .sinopsi-project-container{
        width: 100%;
        height: 100%;
        background-color: $primary2;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondary2;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        font-size: 14pt;
        transition: $transition1;
        text-align: left;
        padding: 10%;
    }

    .poster-project-container{
        width: 400px;
        max-width: 30%;
        height: 100%;
        background-color: $primary3;
        margin-right: auto;

    }

    .poster-container-2{
        width: auto;
        max-width: 30%;
        height: 100%;
        background-color: $primary3;
        margin-right: auto;

        img{
            height: 100%;
            width: auto;
        }
    }

}




